{% extends 'master.html' %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        {% for slider in sliders %}
      
          <div class="carousel-item {% if forloop.first %}active{% endif %}" style="background-image: url({{slider.image.url}});">
            <div class="carousel-container">
              <div class="carousel-content animate__animated animate__fadeInUp text-center">
                <h2 >{{slider.header}}</span></h2>
                <p>{{slider.description}}</p>
                <div><a href="{% url slider.button_link id=slider.optionalId %}" class="btn-get-started">{{slider.button_text}}</a></div>
              </div>
            </div>
          </div>

        {% endfor %}

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>Reliable Services</h2>
<!--            <h3>Your One Stop Solution For All Your Telecommunications Infrastructure Needs</h3>-->
            <p>
              Over the years we have worked with ISP and telecom operators to bring their services close to where people reside or work. Our various engineering teams are experienced in most common transmission systems delivering Voice, data and video over high-speed transmission links
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Radio and wireless network installation.</li>
              <li><i class="ri-check-double-line"></i> Fibre to home / between buildings.</li>
              <li><i class="ri-check-double-line"></i>3G/4G RBS Installations Configurations, Commissioning and Network Optimization.</li>
              <li><i class="ri-check-double-line"></i> Microwave link installation to RF and baseband troubleshooting.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <img src="{% static 'img/menatwork.jpeg' %}" style="max-height: 450px ;"/>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

        <!-- ======= Why Choose Us Section ======= -->
        <section id="why-us" class="why-us">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Why Choose Us</h2>
            </div>
    
            <div class="row g-0" data-aos="fade-up" data-aos-delay="200">
    
              <div class="col-xl-5 img-bg" style="background-image: url('static/img/cabinet.jpeg')"></div>
              <div class="col-xl-7 slides  position-relative">
    
                <div class="slides-1 swiper">
                  <div class="swiper-wrapper">

                    {% for reason in reasons %}
                    <div class="swiper-slide">
                      <div class="item">
                        <h3 class="mb-3">{{reason.header}}</h3>
                        <h4 class="mb-3">{{reason.subHeader}}</h4>
                        <p>{{reason.description}}</p>
                      </div>
                    </div><!-- End slide item -->
                    {% endfor %}
    
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Why Choose Us Section -->

    <!-- ======= Portfoio Section ======= -->
    {% comment %}<section id="portfolio" class="portfoio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Our most recent projects include overhead and underground fibre installations</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for p in portfolios %}
              <li data-filter=".filter-{{p.tag}}">{{p.tab_text}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">


          {% for p_image in p_images %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-{{p_image.tag}}">
                <img src="{{p_image.image.url}}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{p_image.title}}</h4>
                  <p>{{p_image.description}}</p>
                  <a href="{{p_image.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="{{p_image.link}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>

          {% endfor %}

        </div>

      </div>
    </section> {% endcomment %}<!-- End Portfoio Section -->

    <!-- ======= Help Section ======= -->
<!--    <section id="help" class="section-bg">-->

<!--      <div class="container" data-aos="fade-up">-->


<!--        <div class="section-title">-->
<!--          <h3>How can we help you today?</h3>-->
<!--        </div>-->

<!--        <div class="row help-info">-->

<!--          <div class="col-md-4">-->
<!--            <div class="help-address">-->
<!--              <a href="{% url 'soon'%}">-->
<!--                <img src="{% static 'img/svgs/service.svg'%}" style="width:48px;height:48px;"/>-->
<!--                <h3>Request A Service</h3>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-4">-->
<!--            <div class="help-phone">-->
<!--              <a href="{% url 'soon'%}">-->
<!--                <img src="{% static 'img/svgs/support.svg'%}"/>-->
<!--                <h3>Get Help Online</h3>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-4">-->
<!--            <div class="help-email">-->
<!--              <a href="{% url 'soon'%}">-->
<!--                <img src="{% static 'img/svgs/consultation.svg'%}" style="width:48px;height:48px;"/>-->
<!--                <h3>Consultation</h3>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>-->
    <!-- End Contact Section -->


    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Clients</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          {% for client in clients%}
          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{{client.client_image.url}}" class="img-fluid" alt="">
            </div>
          </div>
          {% endfor %}
<!--          <div class="col-lg-3 col-md-4 col-6">-->
<!--            <div class="client-logo">-->
<!--              <img src="{% static 'img/clients/airtel.png' %}" class="img-fluid" alt="">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-4 col-6">-->
<!--            <div class="client-logo">-->
<!--              <img src="{% static 'img/clients/centenary.png' %}" class="img-fluid" alt="">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-4 col-6">-->
<!--            <div class="client-logo">-->
<!--              <img src="{% static 'img/clients/mtn.png' %}" class="img-fluid" alt="">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-4 col-6">-->
<!--            <div class="client-logo">-->
<!--              <img src="{% static 'img/clients/stanbic.png' %}" class="img-fluid" alt="">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-4 col-6">-->
<!--            <div class="client-logo">-->
<!--              <img src="{% static 'img/clients/utl.png' %}" class="img-fluid" alt="">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-4 col-6">-->
<!--            <div class="client-logo">-->
<!--              <img src="{% static 'img/clients/umeme.png' %}" class="img-fluid" alt="">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-4 col-6">-->
<!--            <div class="client-logo">-->
<!--              <img src="{% static 'img/clients/stanbic.png' %}" class="img-fluid" alt="">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3 col-md-4 col-6">-->
<!--            <div class="client-logo">-->
<!--              <img src="{% static 'img/clients/client-8.png' %}" class="img-fluid" alt="">-->
<!--            </div>-->
<!--          </div>-->

        </div>

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->

{% endblock content %}