{% extends 'master.html' %}
{% load static %}
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../static/img/cabinet.jpeg');margin-top:-1px;">
    <div class="container position-relative d-flex flex-column align-items-center">
        <h2>{{product.name}}</h2>
        <ol>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li><a href="{% url 'products'%}">Our Products</a></li>
        <li>{{product.name}}</li>
        </ol>
</div>
</div><!-- End Breadcrumbs -->
        <!-- Product section-->
        <section class="py-5" id="product">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center mt-5">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">Shs0.00</span>
                            <span>{{product.price}}</span>
                        </div>
                        <p class="lead">{{product.description}}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Create An Order
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ">
                    {% for myproduct in products %}
                        {% if myproduct != product %}

                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{myproduct.image.url}}" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{myproduct.name}}</h5>
                                            <!-- Product price-->
                                            <span class="text-muted text-decoration-line-through">Shs.0.00</span>
                                            Shs.{{myproduct.price}}/=
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' id=myproduct.id%}">View Options</a></div>
                                    </div>
                                </div>
                            </div>
                        
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}