{% extends 'master.html' %}
{% load static %}
{% load about_extras %}
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../static/img/cabinet.jpeg');margin-top:-1px;">
    <div class="container position-relative d-flex flex-column align-items-center">
        <h2>{{product.name}}</h2>
        <ol>
        <li><a href="{% url 'Home'%}">Home</a></li>
<!--        <li><a href="{% url 'products'%}">Products</a></li>-->
        <li style="color:#fff">{{product.name}}</li>
        </ol>
</div>
</div><!-- End Breadcrumbs -->
        <!-- Product section-->
        <section class="content" id="hotels">
            <div class="px-4 px-lg-5 ">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-4 order-md-0 order-2">
                        <div class="sidebar">
                               <div class="details">
                <h4 style="color: #152b79;">Features</h4>
                  <ul style="list-style: none;">
                      {% if product.features %}
                          {% for feat in product.features|strengths_list:"#"%}
                            <li><i class="ri-check-double-line"></i>{{feat}}</li>
                          {% endfor %}
                      {% endif %}
                  </ul>
                                   <br>

                   {%comment%}                <h4 style="color: #152b79;">Specifications</h4>
                  <ul style="list-style: none;">
                      {% if product.specification %}
                          {% for spec in product.specification|strengths_list:","%}
                            <li><i class="ri-check-double-line"></i>{{spec}}</li>
                          {% endfor %}
                      {% endif %}
                  </ul>
		{%endcomment%}
              </div>
                        </div>
                    </div>
                    <div class="col-md-8">
<!--                        <img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}" alt="..." />-->
                        <div class="hotel">
                          <div class="hotel-img text-center">
                            <img src="{{product.image.url}}" alt="Hotel 1" class="img-fluid">
                          </div>
                          <h3><a href="#">{{product.name}}</a></h3>
                           <p>{{ product.description|hint_delimiter:0 }}</p>
			   
                            {% if product.description|hint_delimiter:1 %}
                               <p> <i>{{ product.description|hint_delimiter:1  }}</i></p>
                            {% endif %}
			   
                            {% if product.description|hint_delimiter:2 %}
                               <p> <i>~ {{ product.description|hint_delimiter:2  }}</i></p>
                            {% endif %}
                        </div>
                    </div>
            </div>
            </div>
        </section>

    <!-- Related items section-->
    <section class="py-5 bg-light related">
        <div class="container px-4 px-lg-5">
            <h2 class="fw-bolder mb-4">Other Products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ">
                {% for myproduct in products %}
                    {% if myproduct != product %}

                        <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                          <div class="box featured">
                            <h3>{{myproduct.name}}</h3>
                            <div class="img-wrapper d-flex justify-content-center">
                              <img src="{{myproduct.image.url}}" alt="{{myproduct.name}}" class="img-fluid">
                            </div>
                            <div class=" {% if myproduct.description %} btn-wrap {% else %} no-btn-wrap {% endif %}">
                                {% if myproduct.description %}
                                    <a href="{% url 'product' id=myproduct.id%}" class="btn-view">Details</a>
                                {% else %}
                                    <div style="padding: 8px 35px 10px 35px;"><i>~</i></div>
                                {% endif %}
                            </div>
                          </div>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
