{% extends 'master.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../static/img/tower.png');">
      <div class="container position-relative d-flex flex-column align-items-center">

        {% if request.resolver_match.url_name == "services" %}
          <h2>Services</h2>
          {% else %}
            <h2>Services</h2>
          {% endif %}
        <ol>
          <li><a href="{% url 'Home' %}">Home</a></li>
          {% if request.resolver_match.url_name == "service" %}
          <li style="color:#fff">Services</li>
          <li style="color:#fff">{{service.name}}</li>
          {% else %}
          <li>Our Services</li>
          {% endif %}
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    {% block service %}{% endblock service %}

    <!-- ======= Testimonials Section ======= -->
   {% comment %} <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Testimonials</h2>
            <p>Some Of Our Client's Remarks</p>
        </div>
        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for test in tests %}
              <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  {{test.comment}}
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>{{test.owner}}</h3>
                  <h4>{{test.position}}</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
  {% endcomment %}

  </main><!-- End #main -->
{% endblock content %}