{% extends 'master_service.html' %}
{% load static %}
{% block service %}
<main id="main">

    <!-- ======= Services Cards Section ======= -->
    <section id="services-cards" class="services-cards">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          {% for card in cards %}

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="card-item">
                <div class="row">
                  <div class="col-xl-5">
                    <div class="card-bg" style="background-image: url({{card.sideImage.url}});"></div>
                  </div>
                  <div class="col-xl-7 d-flex align-items-center">
                    <div class="card-body">
                      <h4 class="card-title">{{card.title}}</h4>
                      <p>{{card.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Card Item -->
          
          {% endfor %}

        </div>

      </div>
    </section><!-- End Services Cards Section -->

  </main><!-- End #main -->
{% endblock service %}