{% extends 'master.html' %}
{% load static %}
{% load about_extras %}
{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../static/img/cables.jpeg');">
        <div class="container position-relative d-flex flex-column align-items-center">
  
          <h2>Company</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li style="color:#fff">About Us</li>
          </ol>
  
        </div>
      </div><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>{{about.header}}</h2>
            <h5>{{about.subHeader}}</h5>
            <p>
                {{about.description}}
            </p>
              <ul>
                {% for strength in about.service_list|strengths_list:","%}
                  <li><i class="ri-check-double-line"></i>{{strength}}</li>
                {% endfor %}
              </ul>
              <p class="fst-italic">
                {{about.footNote}}
              </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
           <img src="{{about.sideImage.url}}" style="max-height: 400px;"/>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
<!-- 
      <div class="section-title">
        <h2>Our Inspiration</h2>
      </div> -->

      <div class="row">
        <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-eyeglasses"></i></div>
            <h4><a href="">Our Vision</a></h4>
            <p>{{about.vision}}</p>
          </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-bullseye"></i></div>
            <h4><a href="">Our Mission</a></h4>
            <p>{{about.mission}}</p>
          </div>
        </div>

        <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-balloon"></i></div>
            <h4><a href="">Core Values</a></h4>
            <p>{{about.values}}</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->
{% endblock %}