{% extends 'master.html'%}
{% load static%}

{% block content%}
    <!-- ======= Tool Details Sectionn ======= -->
    <section id="Tools-details">
        <div class="container">
          {% comment %} <div class="section-title">
            <h2>Tool</h2>
          </div> {% endcomment %}
          <div class="row">
            <div class="col-md-6 text-center">
              <img src="{{tool.toolImage.url}}" alt="{{tool.name}}" class="img-fluid">
            </div>
  
            <div class="col-md-6">
              <div class="details">
                <h2>{{tool.name}}</h2>
                
                <p>{{tool.big_desc}}</p>
              </div>
            </div>
  
          </div>
        </div>
  
      </section>
{% endblock %}