{% extends 'master.html'%}
{% load static%}

{% block content%}
<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../static/img/tools.jpeg');margin-top:-1px;">
        <div class="container position-relative d-flex flex-column align-items-center">
            <h2>Our Tools</h2>
            <ol>
            <li><a href="{% url 'home'%}">Home</a></li>
            <li>Our Tools</li>
            </ol>
    </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="row">
            {% for tool in tools %}
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                  <div class="icon">
                    <img src="{{tool.toolImage.url}}"/>
                  </div>
                  <h4><a href="">{{tool.name}}</a></h4>
                  <p>{{tool.small_desc}}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
     {% endblock %}