{% extends 'master.html'%}
{% load static%}

{% block content%}

   <!-- ======= Breadcrumbs ======= -->
   <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../static/img/tools.jpeg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>{{tool.name}}</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'tools'%}">Our Tools</a></li>
        <li>{{tool.name}}</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

    <!-- ======= Tool Details Sectionn ======= -->
    <section id="Tools-details">
        <div class="container">
          {% comment %} <div class="section-title">
            <h2>Tool</h2>
          </div> {% endcomment %}
          <div class="row">
            <div class="col-md-6 text-center">
              <img src="{{tool.toolImage.url}}" alt="{{tool.name}}" class="img-fluid">
            </div>
  
            <div class="col-md-6">
              <div class="details">
                <h2>{{tool.name}}</h2>
                
                <p>{{tool.big_desc}}</p>
              </div>
            </div>
  
          </div>
        </div>
  
      </section>
{% endblock %}